<%#= params %>

<h1>que tipo de empanada eres?</h1>

<form action="<%= foods_result_path%>" method="GET">
    <label for="nombre">ingresa tu nombre, para saber que empanada eres</label>
    <input type="text" name='nombre'>
    <input type="submit" value="quiero saber!">
</form>

<h2>que empanada te gustaria ser?</h2>

<form action="<%= foods_empanada_path%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
    <label for="nombre">nombre de la empanada</label>
    <input type="text" name='empanada'>
    <input type="submit" value="guardar">
</form>

<%= notice %>
<br>

<%= form_tag ("/foods/empanadas") do %>
    <%= label_tag 'nombre de la empanada con form tag' %>
    <% text_field_tag 'empanada', nil, placeholder: 'nombre' %>
    <% submit_tag 'enviar' %>
<% end %>

<%= notice %>
<br>

<h4>sumas</h4>
<%= form_tag(foods_player_path, method: 'get') do %>
    <%= text_field_tag 'num1'%><br>
    <p>+</p>
    <%= text_field_tag 'num2'%><br>
    <br>
    <%= submit_tag 'sumar' %><br>
<%end%>
<br>
<p>El resultado de la suma es <%= params[:num1].to_i + params[:num2].to_i%> </p>